<div data-react="Map"
     data-props="<%= {
       isAdmin:       @is_admin,
       isIceVerifier: @is_ice_verified,
       userId:        @user_id,
       datasets:      ['ice'],
       iceOnly:       true
     }.to_json %>">
</div>